body {
    background: linear-gradient(to right, #C0D8DE 37%, #E4E6E7 37%);
}

.flex-container {
    display: flex;
}

.flex-container-column {
    text-align: center;
}

.left-column {
    flex-basis: 37%;
    align-items: center;
    justify-content: center;

}

.right-column {
    flex-basis: 63%;
    align-items: center;
   justify-content: center;

}

.navigation {
    display: flex;
}

img.avatar {
    border-radius: 50%;
    width: 50%;
}

li {
    list-style-type: none; /* Убираем маркеры */
   }
   ul {
    padding-left: 0; /* Сдвигаем список влево */
   }
